div.fade.in.modal {
    display:flex !important;
  }
  
  .modal-dialog {
    margin: auto;
  }
  .my-modal {
    width: 90vw ;   /* Occupy the 90% of the screen width */
    max-width: 90vw;
    max-height: 20vw;
} 
.modal-content {
background-color: transparent;
 border: none;
 position: sticky;


}
body{
  overflow-y: scroll!important;
}
.modal-body{
  padding: 0;
  z-index: -1;
  /* top: -8px; */
}
.modal-header{

    padding: 1px;
    border: 0;
    width: 700px;
    background-color: khaki;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  text-align: center;
}