div.fade.in.modal {
    display:flex !important;
  }
  
  .modal-dialog {
    margin: auto;
  }
  .my-modal {
    width: 90vw ;   /* Occupy the 90% of the screen width */
    max-width: 90vw;
    max-height: 20vw;
} 
.modal-content {
background-color: transparent;
 border: none;
 position: sticky;


}
body{
  overflow-y: scroll!important;
}